<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>This app reads your health data to export to Firebase.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.healthexport.dailyHealthExport</string>
	</array>
</dict>
</plist>
